* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.component {
  background: #eee;
  border: 2px solid black;
  box-shadow: 0 4px 5px -3px black;
  margin: 1rem;
  padding: 1rem;
}

.component.active {
  border: 2px solid red;
  box-shadow: 0 4px 5px -3px red;
}

button {
  background: orange;
  border: 2px solid black;
  color: white;
  display: none;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
}

.component.active > button {
  display: block;
}
